<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s331389_s331378_mappe2_lemoete">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/lemoetelogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lemoetelogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NyKontaktActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".EndreKontaktActivity" android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>